@model IEnumerable<LNUhelperUp.DTOs.EventDTO>
@{
    ViewData["Title"] = "ShowAnnouncements";
    var officialEvents = Model.ToList();
}

    <div class="form-group mx-sm-3 mb-2">
        <button class="btn btn-outline-info btn-sm" type="button" onclick="window.location.href='@Url.Action("CreateAnnouncement", "Announcement" )';">Додати оголошення</button>
    </div>

@foreach (var item in officialEvents)
{
    <table style="margin-top:20px;" class="table-sm">
        <tbody>
            <tr>
                <td>@item.Time.ToString("dd MMM yyyy")</td>
            </tr>
            <tr>
                <td>@item.Name</td>
            </tr>
            <tr>
                <td><img src="@item.ImagePath" alt="Profile picture" height="250" width="250" style="padding-left:50px;" /></td>
            </tr>
            <tr>
                <td>@item.Text</td>
            </tr>
            @*<tr>
            <th scope="row">Email: </th>
            <td>@Model.Login</td>
        </tr>*@

        </tbody>
    </table>
}