@model LNUhelperUp.DTOs.UserDTO
@{
    ViewData["Title"] = "ShowProfile";
    string path = @Model.ImagePath;
}

    <form class="form-inline">
        <h1>Мій профіль</h1>
        <div class="form-group mx-sm-3 mb-2">
            <button class="btn btn-outline-info btn-sm" type="button" onclick="window.location.href='@Url.Action("EditProfile", "Profile" )';">Редагувати</button>
        </div>
        
    </form>


    
        
            <table style="margin-top:20px;" class="table-sm">

                <tbody>

                    <tr>
                        <th scope="row">Нікнейм: </th>
                        <td>@Model.Nickname</td>
                        <td rowspan="6"><img src="@path" alt="Profile picture" height="250" width="250" style="padding-left:50px;" /></td>
                        <td> <button class="btn btn-outline-warning btn-sm" type="button" onclick="window.location.href='@Url.Action("ChangePhoto", "Profile" )';">Змінити фото</button></td>
                    </tr>
                    <tr>
                        <th scope="row">Факультет: </th>
                        <td>@Model.FacultyName</td>
                    </tr>
                    <tr>
                        <th scope="row">Email: </th>
                        <td>@Model.Login</td>
                    </tr>
                    <tr>
                        <td> <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='@Url.Action("MyEvents", "Profile" )';">Мої події</button></td>
                    </tr>
                    @*<tr>
                        <td><button class="btn btn-outline-secondary" type="button" onclick="window.location.href='@Url.Action("MyDiscussions", "Profile" )';">Мої обговорення</button></td>
                    </tr>*@

                   


                </tbody>
            </table>
        


  


