@model LNUhelperUp.DTOs.UserDTO
@{
    ViewData["Title"] = "ShowProfile";
    string path = @Model.ImagePath;
}

<div class="container-fluid profile-margin">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="@path" alt="Profile picture" height="200" width="150" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p>@Model.Nickname</p>
            <p>@Model.FacultyName</p>
            <p>@Model.Login</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <input style="margin-bottom: 15px; width: 200px" type="button" value="Редагувати" onclick="window.location.href='@Url.Action("EditProfile", "Profile" )';" />
            <input style="margin-bottom: 15px; width: 200px" type="button" value="Мої події" onclick="window.location.href='@Url.Action("MyEvents", "Profile" )';" />
            <input style="width: 200px" type="button" value="Мої обговорення" onclick="window.location.href='@Url.Action("MyDiscussions", "Profile" )';" />
        </div>
    </div>

</div>

