@model IEnumerable<LNUhelperUp.DTOs.EventDTO>
@{
    var events = Model;
    var display = true;
    if (events == null)
    {
        display = false;
    }
    else
    {
        events = events.ToList();
    }
}

<form class="form-inline">
    <h1>Події</h1>
    <div class="form-group mx-sm-3 mb-2">
        <button class="btn btn-outline-info btn-sm" type="button" onclick="window.location.href='@Url.Action("CreateEvent", "Event" )';">Додати подію</button>
    </div>

</form>

@if (display)
{
    @foreach (var item in events)
    {
        @if (item.IsOfficial == false && item.FacultyId == ViewBag.facultyId)
        {
        <table style="margin-top:20px; margin-bottom:100px;" class="table-sm">
            <tbody>
                <tr>

                    <th scope="row">Дата: @item.Time.ToString("dd MMM yyyy")</th>
                    
                    
                    
                </tr>
                <tr>
                    <th scope="row">Ціна: @item.Price</th>
                   
                </tr>                
                <tr>
                    <th scope="row">Кількість: @item.ParticipantAmount</th>
                    
                </tr>
                <tr>                 
                    <th scope="row">Місце проведення: @item.Place</th>
                   
                </tr>                 

                
                <tr>

                    <td>
                        <form class="form-inline justify-content-center" align="center">
                            <h4>@item.Name</h4>
                            <div class="form-group">

                                @if (ViewBag.userRole == 1 || ViewBag.userId == item.UserId)
                                {
                                    //<button style="margin-left:20px;" class="btn btn-danger btn-sm" type="button" onclick="window.location.href='@Url.Action("GetAllAnnouncement", "Announcement")';">Видалити</button>
                                    //<div class="col" id="my-col" style="margin-left:20px;"><a href="/Event/DeleteEvent/@item.Id">Видалити</a></div>
                                    @Html.ActionLink(
                                         "Видалити",
                                         "DeleteEvent",                         // controller action
                                         "Event",        // controller
                                         new { @item.Id },         // action parameters aka route values
                                         new { @class = "btn btn-danger" })// html attributes*/
                                }
                            </div>
                        </form>
                    </td>                  
 
                    <td rowspan="3"><img src="@item.ImagePath" alt="Announcement picture" height="250" width="250" style="padding-left:50px;" /></td>


                </tr>

                <tr>
                    <td align="justify">@item.Text</td>
                    
                </tr>


            </tbody>
        </table>
        }
    }
}



