@model IEnumerable<LNUhelperUp.DTOs.FacultyDTO>
@{
    ViewData["Title"] = "ShowFaculties";
    var faculties = Model.ToList();
}
<html>
    <head>
        <h1>Всі Факультети</h1>
    </head>
    <body>
       
        <div class="container">
            <div class="row my-row justify-content-between align-items-center">
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[0].Id">@faculties[0].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[1].Id">@faculties[1].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[2].Id">@faculties[2].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[3].Id">@faculties[3].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[4].Id">@faculties[4].Name</a></div>
            </div>
            <div class="row my-row justify-content-between align-items-center">
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[5].Id">@faculties[5].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[6].Id">@faculties[6].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[7].Id">@faculties[7].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[8].Id">@faculties[8].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[9].Id">@faculties[9].Name</a></div>
            </div>
            <div class="row my-row justify-content-between align-items-center">
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[10].Id">@faculties[10].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[11].Id">@faculties[11].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[12].Id">@faculties[12].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[13].Id">@faculties[13].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[14].Id">@faculties[14].Name</a></div>
            </div>
            <div class="row my-row justify-content-around align-items-center">
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[15].Id">@faculties[15].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[16].Id">@faculties[16].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[17].Id">@faculties[17].Name</a></div>
                <div class="col my-col"><a href="/Faculty/WriteFacultyIdToCookie/@faculties[18].Id">@faculties[18].Name</a></div>         
            </div>
        </div>                        
        
    </body>
</html>



